.banner {
  background: url("images/background-1.png") no-repeat center center;
  background-size: cover;
  padding-top: 35%;
  padding-bottom: 5%;
  color: #fff;
}

.crop-img {
  object-fit: cover;
}

.team img {
  width: 250px;
  padding: 0px;
  border: 10px solid #dc3545;
}

a.sosmed {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #dc3545;
  border-radius: 50%;
  background-color: #000;
  line-height: 40px;
}

.client img {
  height: auto;
  max-height: 50px;
}
